<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DerpiViewer">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ImageDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ui.FullScreenImageActivity"
            android:exported="false"
            android:theme="@style/Theme.DerpiViewer.FullScreen" />

        <activity
            android:name=".ui.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".network.ChallengeActivity"
            android:exported="false"
            android:theme="@style/Theme.DerpiViewer" />
        <activity
            android:name=".ui.FilterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.VideoFeedActivity"
            android:exported="false"
            android:theme="@style/Theme.DerpiViewer.FullScreen" />
        <activity
            android:name=".ui.FeaturedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SearchActivity"
            android:exported="false" />
        <activity android:name=".ui.TagSearchActivity" android:exported="false" />
        <activity android:name=".ui.RecentCommentsActivity" android:exported="false" />
        <activity android:name=".ui.ForumActivity" android:exported="false" />
        <activity android:name=".ui.GalleryActivity" android:exported="false" />
        <activity android:name=".ui.DownloadManagerActivity" android:exported="false" />
        <activity android:name=".ui.FavoritesActivity" android:exported="false" />
        <activity android:name=".network.DeepOptimizeActivity" android:exported="false" />
    </application>
</manifest>
